.footer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  opacity: 0.8;
  font-size: var(--font-sm);
  line-height: 1.1rem;
  text-align: center;
}

.footer div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.7rem;
}

.footer a:hover {
  color: #bf36ff;
  opacity: 1;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 960px) {
  .footer {
    padding: 2rem 0;
  }
}